<style>
  #confirmation-container strong {
    font-weight: 600;
  }

  #confirmation-container {
  max-width: 44rem;
}
</style>

<div id="confirmation-container" style="display:none" class='digital-confirmation-box'>
  <label for='confirmation' class=''>
    <span class="digital-product-badge">{% render 'tc-lucide-icon'
                , icon_name: "lucide-arrow-down-to-line" %} DIGITAL CONTENT ONLY</span>
                <p>This is a digital download. You need access to a 3D printer, as well as additional tools andhardware to assebmle this product yourself.</p>
                <p>By placing an order, you acknowledge that no physical goods will be shipped. Due to the nature of digital goods, all 3D print file <strong>sales are final, with no refunds.</strong></p>
                <p>After purchasing, you will receive an email with all files and instructions.</p>
  </label>
  <input
    required
    class=''
    id='confirmation'
    placeholder="Type your initials to acknowledge"
    type='text'
    maxlength=5
    name='properties[Confirmation]'
    form='{{ product_form_id }}'
  >
</div>
